<% form_for(@farm) do |f| %>
  <%= f.error_messages %>

  <table border="0" cellspacing="4" cellpadding="4">
  <tr>
    <td><%= f.label :name %>: </td><td><%= f.text_field :name, :size => 20 %></td>
  </tr>
  <tr><td>
    <%= f.label :description %>: </td><td>
    <%= f.text_area :description, :cols => 30, :rows => 4 %>
	</td>
  </tr>
  <tr>
   <td><%= f.label :ami_id %>: </td><td><%= f.text_field :ami_id, :size => 20 %></td>
  </tr>
  <tr>
   <td><%= f.label :kernel_id %>: </td><td><%= f.text_field :kernel_id, :size => 20 %></td>
  </tr>
  <tr>
    <td><%= f.label :key_pair_name %>: </td><td><%= f.text_field :key_pair_name, :size => 20 %></td>
  </tr>
  <tr>
    <td><%= f.label :security_groups %>: </td><td><%= f.text_field :security_groups, :size => 20 %></td>
  </tr>
  <tr>
    <td><%= f.label :min %>: <%= f.text_field :min, :size => 5 %> </td><td><%= f.label :max %>: <%= f.text_field :max, :size => 5 %></td>
  </tr>
  <tr>
    <td><%= f.label :role_id %>: </td><td><%= f.select :role_id, Role.all.collect {|r| [ r.name, r.id ] }, { :include_blank => false } %></td>
  </tr>
  <tr>
	<td><%= f.label :farm_type %>: </td><td><%= f.select :farm_type, ["compute", "admin"] %></td>
  </tr>
  <tr><td colspan="2">
    <%= f.submit 'Submit' %>
	</td>
  </tr>
  </table>


<% end %>