<h1>Listing farms</h1>

<table border=1 cellpadding=1 cellspacing=0>
  <tr bgcolor="#CCFFCC">
    <th>Name</th>
    <th>Description</th>
    <th>Ami</th>
    <th>Min</th>
    <th>Max</th>
	<th>Running</th>
	<th>Key</th>
	<th>Groups</th>
    <th>Roles</th>
    <th>Type</th>
  </tr>

<% @farms.each do |farm| %>
  <tr class="data_row">
    <td><%=h farm.name %></td>
    <td><%=h farm.description %></td>
    <td><%=h farm.ami_id %></td>
    <td><%=h farm.min %></td>
    <td><%=h farm.max %></td>
	<td><%=h farm.instances.select{|i| i.running? }.size %>
	<td><%=h farm.key %></td>
	<td><%=h farm.groups %></td>
    <td><%=h farm.role.name %></td>
	<td><%=h farm.farm_type %></td>
    <td><%= link_to 'Show', farm %></td>
    <td><%= link_to 'Edit', edit_farm_path(farm) %></td>
    <td><%= link_to 'Destroy', farm, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New farm', new_farm_path %>