<p>
  <b>Name:</b>
  <%=h @farm.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @farm.description %>
</p>

<p>
  <b>Ami:</b>
  <%=h @farm.ami_id %>
</p>

<p>
  <b>Min:</b>
  <%=h @farm.min %>
</p>

<p>
  <b>Max:</b>
  <%=h @farm.max %>
</p>

<p>
  <b>Key:</b>
  <%=h @farm.key %>
</p>

<p>
  <b>Groups:</b>
  <%=h @farm.groups %>
</p>

<p>
  <b>Role:</b>
  <%=h @farm.role.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @farm.farm_type %>
</p>

<h2>Instances: </h2>

<Table>

<tr><td>instance id</td><td>cpu</td><td>top</td><td>state</td><td>ec2 state</td></tr>

<% @farm.instances.each do |i|	%>

<tr><td><%= i.instance_id%></td><td><%= i.cpu%></td><td><%= i.top%></td><td><%= i.state%></td><td><%= i.ec2_state%></td></tr>

<% end%>

</table>

<hr>

<% form_for "farm", :url => {:action => "start"} do -%>
	<%= label_tag 'num_start' %>
	<%= text_field_tag 'num_start' %>
    <div><%= submit_tag 'Start' %></div>
<% end -%>

<hr>

<% form_for "farm", :url => {:action => "reconcile"}  do -%>
    <div><%= submit_tag 'Reconcile!' %></div>
<% end -%>




<%= link_to 'Edit', edit_farm_path(@farm) %> |
<%= link_to 'Back', farms_path %>
