
  <H2>Farm: <i><%=h @farm.name %></i></H2>

<p>
  <b>Description:</b>
  <%=h @farm.description %>
</p>

<p>
  <b>Ami:</b>
  <%=h @farm.ami_id %>
</p>

<p>
  <b>Min:</b>
  <%=h @farm.min %>
</p>

<p>
  <b>Max:</b>
  <%=h @farm.max %>
</p>

<p>
  <b>Key:</b>
  <%=h @farm.key %>
</p>

<p>
  <b>Groups:</b>
  <%=h @farm.groups %>
</p>

<p>
  <b>Role:</b>
  <%=h @farm.role.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @farm.farm_type %>
</p>

<h2>Instances: </h2>

<table border="1" cellspacing="0" cellpadding="3">
  <tr bgcolor="#AAFFFF">
    <th>Instance</th>
    <th>State</th>
    <th>Ec2 state</th>
    <th>Time stamps</th>
    <th>Farm</th>
	<th>Action</th>
	 
  </tr>

<% @farm.instances.each do |instance| %>
  <tr class="data_row">
    <td><%=h instance.instance_id %>
	    </td>
    <td><%=h instance.state %></td>
    <td><%=h instance.ec2_state %></td>
	<td>
		Launched: <%=h instance.launch_time %>	
		</td>
    <td><%=h instance.farm.name %><BR>
    <%=h instance.farm.ami_id %></td>
	<% unless instance.state == 'shutdown' || instance.ec2_state == 'shutting-down' || instance.ec2_state == 'terminated' %>
	<td><%= link_to 'Terminate', terminate_instance_path(instance), :confirm => 'Are you sure?' %></td>
	<% end -%>
  </tr>
<% end %>
</table>


<hr>

<% form_for "farm", :url => {:action => "start"} do -%>
	Start N Instances:
	<%= text_field_tag 'num_start', nil,:size => 5 %>
    <div><%= submit_tag 'Start' %></div>
<% end -%>

<hr>

<% form_for "farm", :url => {:action => "reconcile"}  do -%>
    <div><%= submit_tag 'Reconcile!' %></div>
<% end -%>




<%= link_to 'Edit', edit_farm_path(@farm) %> |
<%= link_to 'Back', farms_path %>
