

<big><%= link_to_function "&plusmn;", "$('admin').toggle();" %> <strong><i>Administrative Instances</i></strong></big><BR><BR>
<div id="admin">
<table border="1" cellspacing="0" cellpadding="3">
  <tr bgcolor="#AAFFFF">
    <th>Instance</th>
    <th>State</th>
    <th>Ec2 state</th>
    <th>Time stamps</th>
    <th>Farm</th>
	<th>Action</th>
	 
  </tr>

<% @admin_instances.each do |instance| %>
  <tr class="data_row">
    <td><b><%=h instance.instance_id %></b>
	    </td>
    <td><%=h instance.state %></td>
    <td><%=h instance.ec2_state %></td>
	<td>
		Launched: <%=h instance.launch_time.localtime.to_s(:db) %> <small>(<%= ((Time.now - instance.launch_time)/60).floor %> mins)</small>	
		</td>
    <td><%=h instance.farm.name %><BR>
    <%=h instance.farm.ami_id %></td>
	<% unless instance.state == 'shutdown' || instance.ec2_state == 'shutting-down' || instance.ec2_state == 'terminated' %>
	<td><%= link_to 'Terminate', terminate_instance_path(instance), :confirm => 'Are you sure?' %></td>
	<% end -%>
  </tr>
<% end %>
</table>
</div>
<BR><BR>
<big><%= link_to_function "&plusmn;", "$('compute').toggle();" %> <strong><i>Compute Instances</i></strong></big><BR><BR>
<div id="compute">
	
<table border="1" cellspacing="0" cellpadding="3">
  <tr bgcolor="#FFCCFF">
    <th>Instance</th>
    <th>State</th>
    <th>Ec2 state</th>
    <th>System Info</th>
    <th>Ruby Info</th>
    <th>Time stamps</th>
    <th>Farm</th>
	<th>Action</th>
	 
  </tr>

<% @compute_instances.each do |instance| %>
  <tr nowrap class="data_row">
    <td><b><%=h instance.instance_id %></b><BR>
	    <small>Cycled: <%=h instance.cycle_count%></small></td>
    <td><%=h instance.state %></td>
    <td><%=h instance.ec2_state %></td>
	<td><%=h (instance.system_cpu_usage||=0)*100 %>% <small>(<%=h (instance.system_mem_usage||=0) %>K)</small> <BR>
		Top PID: <%=h instance.top_pid %></td>
    <td>PID: <%=h instance.ruby_pid %> <small>(<%= instance.ruby_pid_status %>)</small> <BR>
	    Usage: <%=h (instance.ruby_cpu_usage||=0)*100 %>% <small>(<%=h (instance.ruby_mem_usage||=0) %>K)</small> <BR>
        Executable: <%=h instance.executable %><BR>
	    <small>Cycled: <%=h instance.ruby_cycle_count %></small>
	</td>
	<td>Checked In:  <% if instance.status_updated_at %> <%=h instance.status_updated_at.localtime.to_s(:db) %> <small>(<%= ((Time.now - instance.status_updated_at)/60).floor %> mins)</small><% end %><BR>
		State Change:  <% if instance.state_changed_at %><%=h instance.state_changed_at.localtime.to_s(:db) %> <small>(<%= ((Time.now - instance.state_changed_at)/60).floor %> mins)</small><% end %><BR>
		Launched: <%=h instance.launch_time.localtime.to_s(:db) %> <small>(<%= ((Time.now - instance.launch_time)/60).floor %> mins)</small>	
		</td>
    <td><%=h instance.farm.name %><BR>
    <%=h instance.farm.ami_id %></td>
	<% unless instance.state == 'shutdown' || instance.ec2_state == 'shutting-down' || instance.ec2_state == 'terminated' %>
	<td><%= link_to 'Terminate', terminate_instance_path(instance), :confirm => 'Are you sure?' %><BR><BR>
		<%= link_to 'Manual Override', instance_state_url(:id => instance.instance_id, :state => 'manual') %>
		</td>
	<% end -%>
  </tr>
<% end %>
</table>

</div>
<BR><BR>
<big><%= link_to_function "&plusmn;", "$('unknown').toggle();" %> <strong><i>Unrecognized Instances</i></strong></big><BR><BR>
<div id="unknown">

<table border="1" cellpadding="3" cellspacing="0">
  <tr bgcolor="#CCFFCC">
    <th>Instance ID</th>
	<th>AMI ID</th>
    <th>Ec2 state</th>
	<th>Launch Time</th>

  </tr>

<% @rogues.each do |r| %>
  <tr class="data_row">
    <td><b><%=h r[:aws_instance_id]%></b></td>
    <td><%=h r[:aws_image_id]%></td>
    <td><%=h r[:aws_state]%></td>
    <td> <%=h DateTime.parse(r[:aws_launch_time]).to_time.to_s(:db) %> <small>(<%= ((Time.now - DateTime.parse(r[:aws_launch_time]).to_time)/60).floor %> mins)</small></td>

  </tr>
<% end %>
</table>
</div>

<br />
