<h1>New instance</h1>

<% form_for(@instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :instance_id %><br />
    <%= f.text_field :instance_id %>
  </p>
  <p>
    <%= f.label :cpu %><br />
    <%= f.text_field :cpu %>
  </p>
  <p>
    <%= f.label :top %><br />
    <%= f.text_field :top %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :ec2_state %><br />
    <%= f.text_field :ec2_state %>
  </p>
  <p>
    <%= f.label :farm_id %><br />
    <%= f.text_field :farm_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', instances_path %>