<p>
  <b>Instance:</b>
  <%=h @instance.instance_id %>
</p>

<p>
  <b>Cpu:</b>
  <%=h @instance.cpu %>
</p>

<p>
  <b>Top:</b>
  <%=h @instance.top %>
</p>

<p>
  <b>State:</b>
  <%=h @instance.state %>
</p>

<p>
  <b>Ec2 state:</b>
  <%=h @instance.ec2_state %>
</p>

<p>
  <b>Farm:</b>
  <%=h @instance.farm_id %>
</p>


<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>