<table width="100%" border="0" cellspacing="0" cellpadding="10">

  <tr class="data_row"> 
    <td align="left"><%= image_tag("qips.png", :size => "125x65") %><big><strong> [ Resource Manager ]</strong></big></td>
    <td align="center">
	<%
	
	log_tail = `#{LOG_CMD}`
	
	
	%>
<%= text_area_tag 'log_file', log_tail, :size => "80x6", :readonly => true %>
<script>log_file.scrollTop = log_file.scrollHeight;</script>
</td>


   <td align="right"><strong>
 <%= link_to "Instances", instances_path %> | 
<%= link_to "Farms", farms_path %> | 
<%= link_to "Roles", roles_path %> | 

        </strong></td>
  </tr>
</table>
<HR>