<% form_for(@role) do |f| %>
  <%= f.error_messages %>
<table border="0" cellpadding="3" cellspacing="3">
	
  <tr>
    <td> 
	<%= f.label :name %>: </td><td>
    <%= f.text_field :name %>
    </td>
  </tr>
  <tr>
	<td>
    <%= f.label :description %>: </td><td>
    <%= f.text_field :description %>
    </td>
  </tr>
  <tr>
	<td>
    <%= f.label :platform %>: </td><td>
    <%= f.select :platform, ["windows", "aki"] %>
	</td>
  </tr>
  <tr>
	<td>
	<%= f.label :recipes %>: </td><td>
	<%= select_tag "role[recipe_ids][]", 
		options_for_select(Recipe.all.map{ |recipe| [recipe.name, recipe.id] }, @role.recipes.map{|recipe2| recipe2.id } ),
		 :multiple=>true %>
		</td>
  </tr>

  <tr><td>
    <%= f.submit 'Submit' %>
   </td>
  </tr>

</table>

<% end %>