<% form_for(@role) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :platform %><br />
    <%= f.select :platform, ["windows", "aki"] %>
  </p>
  <p>
	<%= f.label :recipes %><br /><br />
	<%= select_tag "role[recipe_ids][]", 
		options_for_select(Recipe.all.map{ |recipe| [recipe.name, recipe.id] }, @role.recipes.map{|recipe2| recipe2.id } ),
		 :multiple=>true %>
  </p>
  <p>
    <%= f.label :launch_buffer %><br />
    <%= f.text_field :launch_buffer %>
  </p>
  <p>
    <%= f.label :prov_buffer %><br />
    <%= f.text_field :prov_buffer %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>